header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    
}
#barraDeNavegacion{
    width: 100%;
    }

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    


}