ul{
    margin: 0;
    padding: 0;
} 

header .top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}
header .main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    
}
.parrafos-header{ 
    display: flex;
    flex-direction: row;
    text-align: center;
}
.parrafos-header b{
    color: rgb(13, 143, 225);
}

#barraDeNavegacion{
    width: 100%;
    }

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    


}