ul{
    margin: 0;  
    padding: 10px;
} 
h1{
    margin:0;
    padding: 0%;
}

 b{
    color: #0ab3ff;
}
#primeraSection{
    width: auto;
    height: 698,71;
    display: flex;
    background-color: #e3f5fe;
    
}
#imagenSec1{
    clip-path: polygon(
  75% 4%, 65% 6%, 55% 9%, 45% 13%, 35% 18%, 25% 24%, 18% 30%,
  15% 38%, 16% 48%, 18% 58%, 23% 67%, 30% 75%, 40% 80%, 
  52% 82%, 63% 78%, 72% 72%, 78% 64%, 83% 55%, 86% 45%, 
  88% 35%, 87% 25%, 84% 16%, 80% 9%);

  align-items: center;

}
#parrafos-section1{
    width: 40%;
    align-items: center;
    align-self: center;
    padding: 30px 0px 30px 30px;
    margin: 30px 0px 0px;
}
#sec1img{
    width: 60%;
    align-items: center;
    align-self: center;
}
#parrafos-section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
    padding: 40px;
}
#parrafos-section1 h1{
    margin-right: 30px;
    padding-left: 40px;
    align-self: start;
    align-items: self-start;
}



/*
#sec1img{

    position: absolute;
    top: 0%;
    left: 0%;
}

#imgRelativeSec1{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
#imgRelativeSec2{
    position: relative;
    z-index: 3;
    left: 0%;
    bottom: 0%;
}*/
