@font-face {
    font-family: "Rubik";
    src: url(fonts/Rubik/Rubik-Regular.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url(fonts/Inter/Inter_18pt-Regular.ttf) format(truetype);
    font-weight: 400;
}
*{
    font-family: "Rubik", sans-serif;
}
p{
    font-family: "Inter",sans-serif;
}

ul{
    margin: 0;  
    padding: 10px;
    list-style: none;
} 
h1{
    margin:0;
    padding: 0%;
}

 b{
    color: #0ab3ff;
}
button {
    padding: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    
}
#primeraSection{
    width: auto;
    height: 698,71;
    display: flex;
    background-color: #e3f5fe;
    
}
#imagenSec1{
    clip-path: polygon(
  75% 4%, 65% 6%, 55% 9%, 45% 13%, 35% 18%, 25% 24%, 18% 30%,
  15% 38%, 16% 48%, 18% 58%, 23% 67%, 30% 75%, 40% 80%, 
  52% 82%, 63% 78%, 72% 72%, 78% 64%, 83% 55%, 86% 45%, 
  88% 35%, 87% 25%, 84% 16%, 80% 9%);

  align-items: center;

}
#parrafos-section1{
    width: 40%;
    align-items: center;
    align-self: center;
    padding: 30px 0px 30px 30px;
    margin: 30px 0px 0px;
}
#sec1img{
    width: 60%;
    align-items: center;
    align-self: center;
}
#parrafos-section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
    padding: 40px;
}
#parrafos-section1 h1{
    margin-right: 30px;
    padding-left: 40px;
    align-self: start;
    align-items: self-start;
}

#segundaSection{

    width: 100%;
    height: 600px;
    padding: 40px;
    justify-content:center;
    align-items: center;
    
}
.contenedor-main2da{
    display: flex;
    justify-content: space-around;

}
#segundaSection h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-flex-2da{
    margin-top: 150px;
    width: 33%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.contenedor-flex-2da button{
    font-family: "Rubik",sans-serif;
    font-size: 30px;

}
.contenedor-flex-2da p{
    font-family: "Inter",sans-serif;
    font-size: 16px;
}
header{
    width: 100%;
    background-color: #ffffff;
}
#botonAzul{
    font-family: "Rubik";
    font-size: 15px;
    color: #ffffff;
    background-color: #2962ff;
    padding: 10px;
    border-radius: 8px;
}

#terceraSection{
    width: 100%;
    height: 600px;
    display: flex;
    
}





footer{
    width: 100%;
    height: 750px;
    background-color: #142f7e;
}

/*
#sec1img{

    position: absolute;
    top: 0%;
    left: 0%;
}

#imgRelativeSec1{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
#imgRelativeSec2{
    position: relative;
    z-index: 3;
    left: 0%;
    bottom: 0%;
}*/
