ul{
    margin: 0;  
    padding: 10px;
} 

header button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    
}

header .top-bar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}
.barraDeNavegacion-header{
    margin-right: 30px;
    display: flex;
    border-bottom: 2PX solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

header .main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    
}
.parrafos-header{ 
    display: flex;
    margin-left: 20px;


}
 b{
    color: rgb(13, 143, 225);
}

#barraDeNavegacion{
    width: 100%;
    }

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#primeraSection{
    display: flex;
}